{% extends 'magazine/magazine_base.html' %}

{% block content %}
  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="page-header">
            <h2 id="type">What we're about</h2>
          </div>
          <p> We seek language challenges, stories that confront, art that delves. We are interested in emerging artists who are attracted to the unexpected and compelled to explore ways word and image create soundscape and topography.
          </p>
        </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h2 id="type">Our Team</h2>
        </div>
      </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
          <img class="img-circle img-responsive" src="static/images/amanda.png">
          <h3>Amanda Hartzell <small> Writer & Designer</small></h3>
          <p>
          Amanda Hartzell completed her MFA in Fiction at Emerson College.  Since Somerville MA, she has ventured into fog and mountains on the West Coast where she's canoed, camped and recharged with Caffe Vita coffee.  When she's not writing, she is bookselling and hosting authors at Elliott Bay Book Company in Seattle.
          </p>
          <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
          </ul>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
          <img class="img-circle img-responsive" src="static/images/jeb.png">
          <h3>Jeb Garcia <small> Software Engineer</small></h3>
          <p>
            Works at Hitachi Data Systems as a Software Engineer. Home has been around the country from New Jersey to Boston to Seattle. This is my first site I've created, and couldn't be happier to help Amanda out where I can.
          </p>
          <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/jeb.garcia" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="http://www.linkedin.com/pub/jeb-garcia/4/514/690" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="https://twitter.com/jebgarcia" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/100894878371033648499/posts/p/pub" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
          </ul>

      </div>
      <br>
      <div class="col-lg-4 col-md-4 col-sm-12">
          <img class="img-circle img-responsive" src="http://placehold.it/200x200">
          <h3>Kristian Macaron <small> Writer</small></h3>
          <p>
            Graduate of Emerson College in Boston Massachusetts
          </p>
          <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
          </ul>

      </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-12">
        <img class="img-circle img-responsive" src="/static/images/mandalaprofile.png">
        <h3> Mandala Scott <small> Writer</small></h3>
        <p>
          Graduate of Emerson College in Boston Massachusetts
        </p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
        </ul>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
        <img class="img-circle img-responsive" src="/static/images/jackieprofile.jpg">
        <h3> Jacqueline Ryan <small> Writer</small></h3>
        <p>
          Jacqueline Ryan graduated in 2008 with a BA in English from Drew University, where she wrote and edited for the student-run newspaper, The Acorn.  She earned an MFA in Fiction at Emerson College in 2012, and lives in Boston, where she drafts legal documents by day and short stories by night.
        </p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}