{% extends 'magazine/magazine_base.html' %}
{% load static %}
{% load magazine_tags %}

{% block contents %}
<p><a href="{{ issue.get_absolute_url }}" title="Back to {{ issue }}" class="issue_back_button">&laquo; Back to {{ issue }}</a></p>
<h2>{{ article.title|ampersands }}</h2>

<p class="magazine_author_tag">
    By {% spaceless %}{% include 'magazine/_authors.html' with object=article %}{% endspaceless %}.
</p>

{% if article.issue.embargoed %}
<img src="{% get_media_prefix %}{{ article.image }}">{{ article.image }}</img>
    {% if user.is_staff %}
<!--     {% include 'magazine/_article_embargoed_staff.html' %}
 -->    {{ article.demoted_text|safe }}
    {% else %}
<!--     {% include 'magazine/_article_embargoed.html' %}
 -->    {{ article.demoted_text|safe }}
    {% endif %}
{% else %}
    {{ article.demoted_text|safe }}
{% endif %}

{% include 'magazine/_about_the_authors.html' with authors=article.authors.all %}

{% endblock %}
