{% extends 'magazine/magazine_base.html' %}

{% load magazine_tags %}

{% block contents %}
<div class="page-header">
	<h2>{{ issue }} ({{ issue.month_year }})</h2>
</div>
<!-- {% if issue.embargoed %}
    {% include 'magazine/_issue_embargoed.html' %}
{% endif %} -->

{% for article in articles %}
    <h3><a href="{{ article.get_absolute_url }}" title="View Article">{{ article.title|ampersands }}</a></h3>
    <p>{{ article.teaser }}</p>
    <p>By {% spaceless %}{% include 'magazine/_authors.html' with object=article %}{% endspaceless %}.</p>
{% empty %}
    <p>There are no articles in this issue.</p>
{% endfor %}

{% if book_reviews %}
<h3>Book Reviews</h3>
{% include 'magazine/_book_review_list.html' with bookreviews=bookreviews %}
{% endif %}

{% endblock %}
