{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h2 id="type">Requirements</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <h3>Fiction</h3>
            <ul> 
              <li>Ideally 1-6 pages double-spaced</li>
              <li>No more than 13 pages</li>
              <li>Nothing previously published</li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3>Poetry</h3>
            <ul>
              <li>Send 3-5 poems</li>
              <li>Nothing previously published</li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3>Art</h3>
            <ul>
              <li>Any media welcome</li>
            </ul>
          </div>
        </div><!-- /.row -->
    </div>

    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h2 id="type">Contact Us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <h3><i class="fa fa-envelope-o"></i>  Submit work to</h3>
            <p> limestone.litmag@gmail.com</p>
          </div>

          <div class="col-lg-4 col-md-4">
            <h3><i class="fa fa-facebook-square"></i>   Facebook page</h3>
            <a href="https://www.facebook.com/limestonelitmag/info"><p>https://www.facebook.com/limestonelitmag/info</p></a>
          </div>

          <div class="col-lg-4 col-md-4">
            <h3><i class="fa fa-twitter-square"></i>   Twitter page</h3>
            <a href="https://twitter.com/limestonelitmag"><p>https://twitter.com/limestonelitmag</p></a>
          </div>

        </div><!-- /.row -->
    </div>

    
{% endblock %}